<div class="container mb-5 pb-5">
  <div class="row">
    <h4 class="ml-4 mt-4">
      お気に入り
    </h4>
  </div>
  <div class="row ml-4">
    <%= link_to "戻る", customers_path %>
  </div>
  <div class="row mt-5">
    <% @favorites.each do |favorite| %>
      <div class="d-flex justify-content-start ml-5">
        <div class="col-auto">
          <div class="card" style="width: 14rem;">
            <%= attachment_image_tag favorite, :image, :fill, 150, 150, format: 'jpeg', class: "rounded" %>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to shop_path(favorite.id) do %>
                  <%= favorite.shop_name %>
                <% end %>
              </h5>
              <p class="card-text">
                <%= favorite.genre %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @favorites %>
    </div>
  </div>
</div>