<div class="container mb-5 pb-5">
  <div class="row">
    <h4 class="ml-4 mt-4">Mypage</h4>
  </div>
  <div class="row">
    <div class="col-md-10">

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">名前</th>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <th scope="row">フリガナ</th>
            <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th scope="row">メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する",  edit_customers_path %>
    </div>
  </div>
  <div class="row">
    <%= link_to "保存したお店", favorite_customers_path %>
  </div>
</div>