<div class="container mt-5 mb-5 pb-5">
  <h4 class="ml-4">Shop List</h4>
  <div class="row mt-4">
    <div class="col-md-10 offset-md-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">E-MAIL</th>
          <th scope="col">STATUS</th>
        </tr>
      </thead>
      <tbody>
        <% @shops.each do |shop| %>
          <tr>
            <td>
              <%= shop.id %>
            </td>
            <td>
              <%= shop.shop_name %>
            </td>
            <td>
              <%= shop.email %>
            </td>
            <td>
              <% if shop.is_deleted == false %>
              　会員
              <% else %>
                退会済み
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @shops %>
      <%= link_to "HOME", admin_root_path %>
    </div>
  </div>
</div>