<div class="container mt-5 mb-5 pb-5">
  <div class="row">
    <h4 class="ml-4">Gourment-guide Admin</h4>
  </diV>
  <div class="row">
    <div class="mx-auto">

      <%= form_with model:@admin, url: admin_session_path, local:true do |f| %>
        <form>
          <div class="form-growp">
            <label for="email">メールアドレス</label>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-growp mt-4">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", autofocus: true, class: "form-control" %>
          </div>
          <div class="form-growp mt-3">
            <%= f.submit "login", class: "btn btn-outline-secondary" %>
          </div>
        </form>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
