<div class="container">
  <div class="row">
    <%= link_to "メニュー一覧", menu_index_pa
    th %>
    <div class="col-md-10">
      <h3><%= @shop.shop_name %></h3>
      <p><%= @shop.shop_name_kana %></p>
      <p id="favorite_buttons_<%= @shop.id %>">
        <%= render 'public/favorites/favorite', shop: @shop %>
      </p>
      <P>コメント件数：<%= @shop.comments.count %></P>
      <% @shop.comments.each do |comment| %>
        <%= comment.customer.last_name %><%= comment.customer.first_name %>
        <%= comment.comment %><%= comment.created_at.strftime('%Y%m%d') %>

        <% if comment.customer == current_customer %>
          <%= link_to "削除", shop_comments_path(comment.shop, comment), method: :delete %>
        <% end %>
      <% end %>
      <% if customer_signed_in? %>
        <%= form_with(model:[@shop, @comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5', placeholder: "コメントをする" %>
          <%= f.label :rate %>
          <%= f.hidden_field :rate, id: :review_star %>
          <%= f.submit "送信" %>

          <script>
            $('#star').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              scoreName: "comment[rate]"
            });
          </script>
        <% end %>
      <% end %>


    </div>
  </div>
  <div class="row">
    <%= link_to "お店一覧に戻る", shops_path %>
  </div>
</div>