<div class="container">
  <div class="row">
    <h3>menu edit</h3>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= form_with model:@menu, url: restaurant_menu_path(@menu.id), local:true do |f| %>
        <form>
          <div class="form-growp">
            <label for="name">メニュー名</label>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-growp">
            <label for="image">イメージ画像</label>
            <%= f.attachment_field :image %>
          </div>
          <div class="form-growp">
            <label for="price">値段</label>
            <%= f.text_field :price, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-growp">
            <label for="status">販売ステータス</label>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", value: true %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", value: false %>
          </div>
          <div class="form-growp">
            <%= f.submit "変更する" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>