<div class="container mb-5 pb-5">
  <div class="row">
    <h4 class="mt-4 ml-4">Photo　新規登録</h4>
  </div>
  <div class="row">
    <div class="mx-auto">
    <%= form_with model:@image, url:restaurant_images_path, local: true do |f| %>
    <% if @image.errors.any? %>
      <% @image.errors.full_messages.each do |message| %>
        <div class="text-danger">
          ※<%= message %>
        </div>
      <% end %>
    <% end %>
      <form>
        <div class="form-growp mt-5">
          <label for="image">イメージ画像</label><span class="text-danger">(必須)</span>
          <div class="image">
            <%= f.attachment_field :image %>
          </div>
        </div>
        <div class="form-growp mt-5">
          <label for="introduction">コメント</label>
          <div class="introduction">
            <%= f.text_field :introduction, autofocus: true, placeholder: "(例)お店の外観です", class: "form-control" %>
          </div>
            </div>
          <div class="form-growp mt-5">
            <%= f.submit "登録する", class: "btn btn-outline-secondary" %>
          </div>
          <div class="form-growp mt-5">
              <%= link_to "他の投稿を見る", restaurant_images_path %><br>
              <%= link_to "マイページに戻る", restaurant_shops_path %>
            </div>
        </div>
      </form>
    <% end %>
    </div>
  </div>
</div>