<div class="container mb-5 pb-5">
  <div class="row">
    <h4 class="mt-4 ml-4">
      Photos
    </h4>
  </div>
  <div class="row ml-4">
    <%= link_to "戻る", shop_path(@shop.id) %>
  </div>
  <div class="row mt-4">
    <% @images.each do |image| %>
      <div class="d-flex justify-content-start ml-3 mb-3">
        <div class="col-auto">
          <%= link_to shop_image_path(image.shop, image), class: "nav-link text-dark" do %>
          <div class="card" style="width: 12rem;">
            <%= attachment_image_tag image, :image, :fill, 200, 150, format: 'jpeg', class: "card-img-top" %>
            <div class="card-body">
              <p class="card-title"><i class="far fa-comment-dots mr-2"></i><%= image.introduction %></p>
              <p class="card-text"><%= image.created_at.strftime('%Y.%m.%d') %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @images %>
    </div>
  </div>
</div>