<div class="container">
<h2>新規会員登録</h2>

<%= form_with model:@shop, url: shop_registration_path, local: true do |f| %>
  <%= render "restaurant/shared/error_messages", resource: resource %>

  <form>
    <div class="form-group">
      <label for="shop_name">店名</label>
      <%= f.text_field :shop_name, autofocus: true, placeholder: "(例)gourmentguide食堂", class: "form-control" %>
    </div>

    <div class="form-group">
      <label for="shop_name_kana">店名フリガナ</label>
      <%= f.text_field :shop_name_kana, autofocus: true, placeholder: "(例)グルメガイド食堂", class: "form-control" %>
    </div>

    <div class="form-growp">
      <label for="image">イメージ画像</label>
      <%= f.attachment_field :image %>
    </div>

    <div class="form-growp">
      <label for="email">メールアドレス</label>
      <%= f.email_field :email, autofocus: true, placeholder: "(例)gourment@email.com", class: "form-control" %>
    </div>

    <div class="form-growp">
      <label for="telephone_number">電話番号(ハイフンなし)</label>
      <%= f.text_field :telephone_number, autofocus: true, placeholder: "(例)0312345678", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="postal_code">郵便番号(ハイフンなし)</label>
      <%= f.text_field :postal_code, autofocus: true, placeholder: "(例)1234567", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="address">住所</label>
      <%= f.text_field :address, autofocus: true, placeholder: "(例)東京都渋谷区道玄坂1－2", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="accsee">最寄り駅</label>
      <%= f.text_area :access, autofocus: true, placeholder: "(例)JR山手線渋谷駅から徒歩９分", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="opening_hours">営業時間</label>
      <%= f.text_area :access, autofocus: true, placeholder: "(例)土日・祝日10：00～22：00", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="holiday">定休日</label>
      <%= f.text_area :holiday, autofocus: true, placeholder: "(例)水曜日・第3木曜日", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="genre">ジャンル</label>
      <%= f.text_field :genre, autofocus: true, placeholder: "(例)日本食", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="reserve">予約</label>
      <%= f.radio_button :reserve, "reserve_only" %>
      <%= f.label :reserve, "完全予約制" %>
      <%= f.radio_button :reserve, "reserve_possible" %>
      <%= f.label :reserve, "予約可" %>
      <%= f.radio_button :reserve, "reserve_impossible" %>
      <%= f.label :reserve, "予約不可" %>
    </div>
    <div class="form-growp">
      <label for="payment_method">支払方法</label>
      <%= f.text_area :payment_method, autofocus: true, placeholder: "(例)クレジットカード・電子マネー取り扱い可", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="parking_space">駐車場</label>
      <%= f.select :parking_space, *[0..50] %>台有
    </div>
    <div class="form-growp">
      <label for="smoking">禁煙喫煙</label>
      <%= f.text_area :smoking, autofocus: true, placeholder: "(例)店内完全喫煙、外に喫煙所があります", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="private_room">個室有無</label>
      <%= f.radio_button :private_room, :true %>
      <%= f.label :private_room, "個室有", value: true %>
      <%= f.radio_button :private_room, :false %>
      <%= f.label :private_room, "個室無", value: false %>
    </div>

    <div class="form-growp">
      <label for="ticket">整理券有無</label>
      <%= f.radio_button :ticket, :true %>
      <%= f.label :ticket, "配布有", value: true %>
      <%= f.radio_button :ticket, :false %>
      <%= f.label :ticket, "配布無", value: false %>
    </div>

    <div class="form-growp">
      <label for="children">子連れ可否</label>
      <%= f.text_area :children, autofocus: true, placeholder: "(例)未就学児不可", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="wait_time">通常待ち時間</label>
      <%= f.text_area :wait_time, autofocus: true, placeholder: "(例)予約されていない場合、30分ほどでご案内できます", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="introduction">紹介文</label>
      <%= f.text_area :introduction, autfocus: true, placeholder: "(例)当店自慢の魚料理をご堪能下さい！", class: "form-control" %>
    </div>
    <div class="form-growp">
      <label for="passward">パスワード</label>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", autfocus: true, class: "form-control" %>
    </div>

    <div class="form-growp">
      <label for="passward_confirmation">パスワード確認用</label><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", autfocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </form>
<% end %>

<%= render "restaurant/shared/links" %>
</div>