<!DOCTYPE html>
<html>
  <head>
    <title>GourmentGuidePf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="navbar-brand">
            <h1><%= link_to "Gourment Guide", root_path, class: "text-light nav-link" %></h1>
          </div>

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if customer_signed_in? %>
              <div class="mt-4">
                <%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "nav-link text-light" %>
              </div>
              <div class="mt-4">
                <%= link_to "My Page", customers_path, class: "nav-link text-light" %>
              </div>
              <div class=" mt-4 mr-5 pr-5"><%= link_to "shop List", shops_path, class: "nav-link text-light" %></div>
              <div class="ml-5 pl-5"><%= render 'layouts/search', shops: @shops %></div>
            <% elsif shop_signed_in? %>
              <div class="mt-4">
                <%= link_to "Logout", destroy_shop_session_path, method: :delete, class: "nav-link text-light" %>
              </div>
              <div class="mt-4">
                <%= link_to "Shop List", shops_path, class: "nav-link text-light" %>
              </div>
              <div class=" mt-4 mr-5 pr-5"><%= link_to "My Page", restaurant_shops_path, class: "nav-link text-light" %></div>
              <div class="ml-5 pl-5"><%= render 'layouts/search', shops: @shops %></div>
            <% else %>
              <div class="mt-4">
                <%= link_to "お店の情報を公開", restaurant_about_path, class: "nav-link text-light" %>
              </div>
              <div class="mt-4">
                <%= link_to "お店を探す", about_path, class: "nav-link text-light" %>
              </div>
              <div class="mt-4 mr-5 pr-5">
                <%= link_to "shop List", shops_path, class: "nav-link text-light" %>
              </div>
              <div class="ml-3 pl-3"><%= render 'layouts/search', shops: @shops %></div>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="mx-auto mt-5">
            <%= link_to "お問い合わせはこちら", inquiry_path, class: "text-light nav-link" %>
          </div>
        </div>
      </div>

    </footer>
  </body>
</html>
